mysql/fluxo-completo.json
[
    {
        "id": "93dcd5dae85fd8f0",
        "type": "tab",
        "label": "Http CRUD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51628f2d384a1323",
        "type": "http in",
        "z": "93dcd5dae85fd8f0",
        "name": "/app",
        "url": "/app",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "a996e1b6a20126c9"
            ]
        ]
    },
    {
        "id": "22c80c5b1e9a51b6",
        "type": "http response",
        "z": "93dcd5dae85fd8f0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "a996e1b6a20126c9",
        "type": "function",
        "z": "93dcd5dae85fd8f0",
        "name": "database query",
        "func": "msg.topic = \"SELECT * FROM tb_data\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "755418061dadb681"
            ]
        ]
    },
    {
        "id": "5ce76c5cf2ac2446",
        "type": "template",
        "z": "93dcd5dae85fd8f0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Document</title>\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx\" crossorigin=\"anonymous\">\n\n</head>\n<body>\n\n    <div class=\"container\">\n\n        <section class=\"py-3 text-center container\">\n            <div class=\"row py-lg-5\">\n              <div class=\"col-lg-6 col-md-8 mx-auto\">\n                <h1 class=\"fw-light\">Exemplo de Dashboard</h1>\n                <p class=\"lead text-muted\">Exemplo de dashboard construído e disponibilizado por Node Red.</p>\n                <p>\n                  <a href=\"/app\" class=\"btn btn-primary my-2\">atualizar</a>\n                </p>\n              </div>\n            </div>\n        </section>\n\n        <table class=\"table table-hover\">\n\n            <thead>\n              <tr>\n                <th scope=\"col\">#</th>\n                <th scope=\"col\">name</th>\n                <th scope=\"col\">timestamp</th>\n                <th scope=\"col\">opções</th>\n              </tr>\n            </thead>\n            \n            <tbody>\n\n              {{#payload}}\n              <tr>\n                <th scope=\"row\">{{id}}</th>\n                <td>{{name}}</td>\n                <td>{{timestamp}}</td>\n                <td><a href=\"/app/delete/{{id}}\">deletar</td>\n              </tr>\n              {{/payload}}\n              \n            </tbody>\n\n          </table>\n\n    </div>\n</body>\n</html>",
        "output": "str",
        "x": 780,
        "y": 180,
        "wires": [
            [
                "22c80c5b1e9a51b6"
            ]
        ]
    },
    {
        "id": "755418061dadb681",
        "type": "mysql",
        "z": "93dcd5dae85fd8f0",
        "mydb": "794e3b1edc365642",
        "name": "",
        "x": 610,
        "y": 180,
        "wires": [
            [
                "5ce76c5cf2ac2446"
            ]
        ]
    },
    {
        "id": "4bc7a720d433f4fd",
        "type": "http in",
        "z": "93dcd5dae85fd8f0",
        "name": "",
        "url": "/app/form-register",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 330,
        "wires": [
            [
                "200f4c9e3e76e356"
            ]
        ]
    },
    {
        "id": "200f4c9e3e76e356",
        "type": "template",
        "z": "93dcd5dae85fd8f0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Document</title>\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx\" crossorigin=\"anonymous\">\n\n</head>\n<body>\n\n    <div class=\"container\">\n\n        <section class=\"py-3 text-center container\">\n            <div class=\"row py-lg-5\">\n              <div class=\"col-lg-6 col-md-8 mx-auto\">\n                <h1 class=\"fw-light\">Exemplo de Dashboard</h1>\n                <p class=\"lead text-muted\">Exemplo de dashboard construído e disponibilizado por Node Red.</p>\n              </div>\n            </div>\n          </section>\n\n          <form action=\"/app/register\" method=\"post\">\n            \n            <div class=\"mb-3\">\n              <label class=\"form-label\">Nome</label>\n              <input type=\"text\" class=\"form-control\" name=\"name\">\n              <div class=\"form-text\">Informe seu nome completo.</div>\n            </div>\n\n            <button type=\"submit\" class=\"btn btn-primary\">cadastrar</button>\n\n          </form>\n\n\n    </div>\n</body>\n</html>",
        "output": "str",
        "x": 540,
        "y": 330,
        "wires": [
            [
                "0d394a8107f3b775"
            ]
        ]
    },
    {
        "id": "0d394a8107f3b775",
        "type": "http response",
        "z": "93dcd5dae85fd8f0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 330,
        "wires": []
    },
    {
        "id": "83b616cf7cbcc133",
        "type": "http in",
        "z": "93dcd5dae85fd8f0",
        "name": "",
        "url": "/app/register",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "6d0aa73057b16556"
            ]
        ]
    },
    {
        "id": "e58c24942f5e2aba",
        "type": "mysql",
        "z": "93dcd5dae85fd8f0",
        "mydb": "794e3b1edc365642",
        "name": "",
        "x": 740,
        "y": 480,
        "wires": [
            [
                "41e0bad38a176c95"
            ]
        ]
    },
    {
        "id": "2aa2e3288fdfffdf",
        "type": "function",
        "z": "93dcd5dae85fd8f0",
        "name": "insert query",
        "func": "msg.topic = \"INSERT INTO `iot_lab`.`tb_data` (`name`) VALUES ('\" + msg.payload.name + \"');\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 592,
        "y": 480,
        "wires": [
            [
                "e58c24942f5e2aba"
            ]
        ]
    },
    {
        "id": "6d0aa73057b16556",
        "type": "json",
        "z": "93dcd5dae85fd8f0",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 432,
        "y": 480,
        "wires": [
            [
                "2aa2e3288fdfffdf"
            ]
        ]
    },
    {
        "id": "41e0bad38a176c95",
        "type": "function",
        "z": "93dcd5dae85fd8f0",
        "name": "Redirect Function",
        "func": "msg.statusCode = 303\n\nmsg.headers = {\n    Location: \"/app\"\n}\n\ndelete msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 480,
        "wires": [
            [
                "3b2ec18e926dc1a2"
            ]
        ]
    },
    {
        "id": "deaff83e275479ac",
        "type": "comment",
        "z": "93dcd5dae85fd8f0",
        "name": "Show form register",
        "info": "",
        "x": 270,
        "y": 270,
        "wires": []
    },
    {
        "id": "e61bc77c9aa02c9e",
        "type": "comment",
        "z": "93dcd5dae85fd8f0",
        "name": "Process submit",
        "info": "",
        "x": 262,
        "y": 429,
        "wires": []
    },
    {
        "id": "3b2ec18e926dc1a2",
        "type": "http response",
        "z": "93dcd5dae85fd8f0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 570,
        "wires": []
    },
    {
        "id": "201a920d9800de38",
        "type": "http in",
        "z": "93dcd5dae85fd8f0",
        "name": "",
        "url": "/app/delete/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 720,
        "wires": [
            [
                "762bc4461e77bb41"
            ]
        ]
    },
    {
        "id": "021383f3bad9cc07",
        "type": "mysql",
        "z": "93dcd5dae85fd8f0",
        "mydb": "794e3b1edc365642",
        "name": "",
        "x": 770,
        "y": 720,
        "wires": [
            [
                "3578b7d885e2900e"
            ]
        ]
    },
    {
        "id": "762bc4461e77bb41",
        "type": "function",
        "z": "93dcd5dae85fd8f0",
        "name": "insert query",
        "func": "let id = msg.req.params.id;\n\nmsg.topic = \"DELETE FROM `iot_lab`.`tb_data` WHERE (`id` = '\" + id +\"');\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 720,
        "wires": [
            [
                "021383f3bad9cc07"
            ]
        ]
    },
    {
        "id": "3578b7d885e2900e",
        "type": "function",
        "z": "93dcd5dae85fd8f0",
        "name": "Redirect Function",
        "func": "msg.statusCode = 303\n\nmsg.headers = {\n    Location: \"/app\"\n}\n\ndelete msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 720,
        "wires": [
            [
                "8a7078a8020a7884"
            ]
        ]
    },
    {
        "id": "b7268552fc6b3ad0",
        "type": "comment",
        "z": "93dcd5dae85fd8f0",
        "name": "Process delete request",
        "info": "",
        "x": 312,
        "y": 669,
        "wires": []
    },
    {
        "id": "8a7078a8020a7884",
        "type": "http response",
        "z": "93dcd5dae85fd8f0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 810,
        "wires": []
    },
    {
        "id": "794e3b1edc365642",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot_lab",
        "tz": "",
        "charset": "UTF8"
    }
]
